/**
 * Style: Minimal
 */
html.no-scroll {
  overflow: hidden;
}
html.no-scroll body {
  overflow: hidden;
}

.wdpu-loading {
  position: relative;
}

.wdpu-loading:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8) url(%styleurl%../../../inc/external/wpmu-lib/img/spinner.gif) center no-repeat;
  z-index: 1000;
  cursor: default;
}

#messagebox {
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
  padding: 0;
  /* Default: Image on right side */
}
#messagebox.custom-size {
  padding: 0;
}
#messagebox.inline {
  position: relative;
  overflow: visible;
  background: transparent;
  padding: 0;
}
#messagebox.inline .wdpu-msg {
  max-width: 100%;
  margin: 0;
}
#messagebox.custom-pos .wdpu-msg {
  position: absolute;
  display: inline-block;
  margin: 0 0 30px;
}
#messagebox.no-title.no-subtitle .wdpu-head {
  display: none;
}
#messagebox.no-title .wdpu-title {
  display: none;
}
#messagebox.no-subtitle .wdpu-subtitle {
  display: none;
}
#messagebox .wdpu-msg {
  position: relative;
  display: block;
  margin: 0;
  text-align: left;
  box-shadow: 0 2px 40px rgba(0, 0, 0, 0.3);
  font-size: 15px;
  /* Size / responsiveness */
  max-width: 800px;
  min-width: 100px;
}
#messagebox .wdpu-msg p {
  font-size: 15px;
}
#messagebox .wdpu-msg p:first-child {
  margin-top: 0;
}
#messagebox .wdpu-msg p:last-child {
  margin-bottom: 0;
}
#messagebox .wdpu-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 49px;
  line-height: 50px;
  text-align: center;
  color: #AAA;
  z-index: 10;
  transition: color .3s, background .3s;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.1);
}
#messagebox .wdpu-close.no-title {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
#messagebox .wdpu-close:before {
  content: '\D7';
  margin: 0 -2px 0 0;
  position: relative;
  font-weight: bold;
  font-size: 24px;
  font-family: helvetica, sans-serif !important;
}
#messagebox .wdpu-close:hover {
  color: #555;
  background: rgba(255, 255, 255, 0.6);
}
#messagebox .wdpu-msg-inner {
  margin: 0px auto;
  background: #FFF;
  position: relative;
  z-index: 1;
  overflow: hidden;
  max-height: 100%;
}
#messagebox .wdpu-msg-inner.custom-size {
  max-width: none;
  min-width: 0;
}
#messagebox .wdpu-text,
#messagebox .wdpu-image {
  vertical-align: middle;
  display: inline-block;
  box-sizing: border-box;
}
#messagebox .wdpu-image {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
#messagebox .wdpu-image img {
  height: 100%;
  width: auto;
  position: relative;
}
#messagebox .wdpu-middle {
  position: relative;
  min-height: 300px;
}
#messagebox .wdpu-inner {
  overflow: auto;
}
#messagebox .wdpu-inner.no-bm {
  margin: 0;
}
#messagebox .wdpu-content {
  padding: 20px;
}
#messagebox .wdpu-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  height: 35px;
  line-height: 35px;
  background: #E8E8E8;
  border-top: 1px solid #ccc;
  box-shadow: 0 1px 0 0px #FFF inset;
  text-align: right;
}
#messagebox a {
  color: #000001;
  text-decoration: underline;
  opacity: .9;
}
#messagebox a:visited {
  color: #000001;
}
#messagebox a:hover, #messagebox a:active, #messagebox a:focus {
  color: #000001;
  opacity: 1;
}
#messagebox .wdpu-head {
  border-bottom: 1px solid #DDD;
  padding: 14px 50px 10px 20px;
  min-height: 25px;
  margin: 0;
}
#messagebox .wdpu-title,
#messagebox .wdpu-subtitle {
  font-size: 20.25px;
  line-height: 24px;
  padding: 0;
  color: #000001;
  display: inline-block;
}
#messagebox .wdpu-title {
  font-weight: bold;
}
#messagebox .wdpu-subtitle {
  font-weight: 100;
}
#messagebox .wdpu-cta {
  line-height: 1.2em;
  padding: 8px 24px;
  opacity: .9;
  margin: 0 0 0 20px;
  text-decoration: none;
  font-weight: 100;
  background: #000001;
  color: #000002;
}
#messagebox .wdpu-cta:visited {
  color: #000002;
}
#messagebox .wdpu-cta:hover, #messagebox .wdpu-cta:active, #messagebox .wdpu-cta:focus {
  color: #000002;
  opacity: 1;
}
#messagebox .wdpu-text {
  margin: 0 40% 0 0;
}
#messagebox .wdpu-image {
  text-align: right;
  right: 0;
  width: 40%;
}
#messagebox.img-left .wdpu-text {
  margin: 0 0 0 40%;
  margin-right: 0;
}
#messagebox.img-left .wdpu-image {
  text-align: left;
  right: auto;
  left: 0;
}
#messagebox.no-img .wdpu-text {
  margin: 0;
}
#messagebox.no-img .wdpu-image {
  display: none;
}
#messagebox.rounded .wdpu-cta {
  border-radius: 5px;
}
#messagebox.rounded .wdpu-msg {
  border-radius: 11px;
}
#messagebox.rounded .wdpu-msg-inner {
  border-radius: 10px;
}
#messagebox.rounded .wdpu-close {
  border-radius: 0 10px 0 0;
}
#messagebox.buttons .wdpu-inner {
  margin-bottom: 75px;
}
#messagebox.buttons .wdpu-image {
  margin-bottom: 75px;
}

@media screen and (max-width: 770px) and (min-width: 480px) {
  #messagebox {
    padding: 0;
  }
  #messagebox .wdpu-image, #messagebox.img-right .wdpu-image, #messagebox.img-left .wdpu-image, #messagebox.no-img .wdpu-image {
    width: 100%;
    position: relative;
    display: block;
    max-height: 250px;
    margin: 0;
  }
  #messagebox .wdpu-image img, #messagebox.img-right .wdpu-image img, #messagebox.img-left .wdpu-image img, #messagebox.no-img .wdpu-image img {
    height: auto;
    width: 100%;
  }
  #messagebox .wdpu-text, #messagebox.img-right .wdpu-text, #messagebox.img-left .wdpu-text, #messagebox.no-img .wdpu-text {
    margin: 0;
  }
  #messagebox .wdpu-buttons, #messagebox.img-right .wdpu-buttons, #messagebox.img-left .wdpu-buttons, #messagebox.no-img .wdpu-buttons {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #messagebox .wdpu-content, #messagebox.img-right .wdpu-content, #messagebox.img-left .wdpu-content, #messagebox.no-img .wdpu-content {
    padding: 15px 20px;
  }
  #messagebox .wdpu-head, #messagebox.img-right .wdpu-head, #messagebox.img-left .wdpu-head, #messagebox.no-img .wdpu-head {
    padding-top: 8px;
    padding-bottom: 6px;
  }
  #messagebox .wdpu-close, #messagebox.img-right .wdpu-close, #messagebox.img-left .wdpu-close, #messagebox.no-img .wdpu-close {
    height: 40px;
    line-height: 40px;
  }
  #messagebox p, #messagebox.img-right p, #messagebox.img-left p, #messagebox.no-img p {
    margin-bottom: 16px;
  }
  #messagebox.img-right .wdpu-inner {
    margin: 0;
  }
  #messagebox.img-right .wdpu-image {
    margin-bottom: 75px;
  }
  #messagebox.mobile-no-img .wdpu-image {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  #messagebox {
    padding: 0;
  }
  #messagebox .wdpu-image, #messagebox.img-right .wdpu-image, #messagebox.img-left .wdpu-image, #messagebox.no-img .wdpu-image {
    width: 100%;
    position: relative;
    display: block;
    max-height: 150px;
    margin: 0;
  }
  #messagebox .wdpu-image img, #messagebox.img-right .wdpu-image img, #messagebox.img-left .wdpu-image img, #messagebox.no-img .wdpu-image img {
    height: auto;
    width: 100%;
  }
  #messagebox .wdpu-text, #messagebox.img-right .wdpu-text, #messagebox.img-left .wdpu-text, #messagebox.no-img .wdpu-text {
    margin: 0;
  }
  #messagebox .wdpu-buttons, #messagebox.img-right .wdpu-buttons, #messagebox.img-left .wdpu-buttons, #messagebox.no-img .wdpu-buttons {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #messagebox .wdpu-content, #messagebox.img-right .wdpu-content, #messagebox.img-left .wdpu-content, #messagebox.no-img .wdpu-content {
    padding: 10px 20px;
  }
  #messagebox .wdpu-head, #messagebox.img-right .wdpu-head, #messagebox.img-left .wdpu-head, #messagebox.no-img .wdpu-head {
    padding-top: 8px;
    padding-bottom: 6px;
  }
  #messagebox .wdpu-close, #messagebox.img-right .wdpu-close, #messagebox.img-left .wdpu-close, #messagebox.no-img .wdpu-close {
    height: 40px;
    line-height: 40px;
  }
  #messagebox p, #messagebox.img-right p, #messagebox.img-left p, #messagebox.no-img p {
    margin-bottom: 8px;
  }
  #messagebox.img-right .wdpu-inner {
    margin: 0;
  }
  #messagebox.img-right .wdpu-image {
    margin-bottom: 75px;
  }
  #messagebox.mobile-no-img .wdpu-image {
    display: none;
  }
}
