/**
 * CSS rules that are used by the Upfront editor to render the Element button,
 * preview and configuration options.
 */

/*
 * ELEMENT ICON
 */
.upfront-ui .upfront-icon-element-popup:before {
	background-image: url([BASE_URL]img/element-sprite.svg);
	background-position: 0 0;
}

/*
 * UPFRONT PREVIEW TOOLS
 */
.upfront-popup_element-module .upfront-editable_entity .upfront-object-content {
	-webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.upfront-popup_element-module .upfront-entity_meta {
	z-index: 999999;
}
.upfront-popup_element-module:hover .upfront-objects_container:after {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	height: 52px;
	background: #FFF;
	opacity: 0.5;
	width: 28px;
	z-index: 999998;
}

/*
 * INLINE EDITOR STYLES
 */
.upfront-popup_element-module .upfront_popup .uf-inline-edit {
	display: none;
	border: 1px solid #CEDDEA;
	margin: 0 1px 1px 0;
	background: #FAFAFA;
}
.upfront-popup_element-module .upfront_popup .uf-inline-edit input {
	background: transparent;
	width: 100%;
	padding: 2px 10px;
	color: #333;
	border: 2px solid transparent;
	box-sizing: border-box;
}
.upfront-popup_element-module .upfront_popup .uf-inline-edit input:focus {
	border-color: #CEDDEA;
}
.upfront-popup_element-module .upfront_popup .uf-inline-edit input::-webkit-input-placeholder {
    color: #CCC;
}
.upfront-popup_element-module .upfront_popup .uf-inline-edit input:-moz-placeholder {
   color: #CCC;
   opacity: 1;
}
.upfront-popup_element-module .upfront_popup .uf-inline-edit input::-moz-placeholder {
   color: #CCC;
   opacity: 1;
}
.upfront-popup_element-module .upfront_popup .uf-inline-edit input:-ms-input-placeholder {
   color: #CCC;
}

.upfront-popup_element-module:hover .upfront_popup .uf-inline-value {
	display: none !important;
}
.upfront-popup_element-module:hover .upfront_popup .uf-inline-edit {
	display: block !important;
}
.upfront-popup_element-module:hover .upfront_popup .wdpu-head,
.upfront-popup_element-module:hover .upfront_popup .wdpu-title,
.upfront-popup_element-module:hover .upfront_popup .wdpu-subtitle {
	display: inherit !important;
}
.upfront-popup_element-module .upfront_popup .uf-hover-action {
	display: none;
	position: absolute;
	left: 0;
	height: 100px;
	right: 0;
	bottom: 0;
	background: rgba(255,255,255,0.7);
	text-align: center;
	padding-top: 30px;
	box-sizing: border-box;
}
.upfront-popup_element-module:hover .upfront_popup .wdpu-text {
	min-height: 100px;
}
.upfront-popup_element-module .upfront_popup .uf-hover-action button {
	background: #1FCD8B;
	color: #FFF;
	height: 40px;
	line-height: 40px;
	border-radius: 0;
	border: 0;
	padding: 0 20px;
	text-align: center;
	font-size: 14px;
}
.upfront-popup_element-module .upfront_popup .uf-hover-action button:hover {
	background: #3EA;
}
.upfront-popup_element-module:hover .upfront_popup .uf-hover-action {
	display: block;
}