/**
 * Style: Minimal
 */

$font_size:          15px;
$break_point_tablet: 770px;
$break_point_phone:  480px;
$img_height_tablet:  250px;
$img_height_phone:   150px;
$padding_tablet:      50px;
$padding_phone:       10px;

$col_primary: #000001;
$col_secondary: #000002;

.has-popup {
	overflow: hidden;

	body {
		overflow: hidden;
	}
}

#messagebox {
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	background: rgba(0, 0, 0, 0.5);

	.wdpu-msg {
		position: absolute;
		display: inline-block;
		margin: 0 0 30px;
		text-align: left;
		box-shadow: 0 2px 40px rgba(0,0,0,0.3);
		font-size: $font_size;

		/* Size / responsiveness */
		max-width: 800px;
		min-width: 100px;

		&.small-width {
			left: $padding_tablet !important;
			right: $padding_tablet !important;
			width: auto;
		}

		p {
			font-size: $font_size;

			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}

		.wdpu-close {
			position: absolute;
			top: 0;
			right: 0;
			width: 50px;
			height: 50px;
			line-height: 50px;
			text-align: center;
			color: #AAA;
			z-index: 10;
			transition: color .3s, background .3s;
			text-decoration: none;
			background: rgba(255, 255, 255, 0.1);

			&.no-title {
				width: 30px;
				height: 30px;
				line-height: 30px;
			}

			&:before {
				content: '\D7';
				margin: 0 -2px 0 0;
				position: relative;
				font-weight: bold;
				font-size: 24px;
				font-family: helvetica, sans-serif !important;
			}

			&:hover {
				color: #555;
				background: rgba(255, 255, 255, 0.6);
			}
		}
	}

	.wdpu-msg-inner {
		margin: 0px auto;
		background: #FFF;
		position: relative;
		z-index: 1;
		overflow: hidden;
		max-height: 100%;

		&.custom-size {
			max-width: none;
			min-width: 0;
		}

		.wdpu-text,
		.wdpu-image {
			vertical-align: middle;
			display: inline-block;
			box-sizing: border-box;
		}

		.wdpu-text {
		}

		.wdpu-image {
			position: absolute;
			top: 0;
			bottom: 0;
			overflow: hidden;

			img {
				height: 100%;
				width: auto;
				position: relative;
			}
		}

		.wdpu-middle {
			position: relative;
			min-height: 300px;
		}

		.wdpu-inner {
			overflow: auto;

			&.no-bm {
				margin: 0;
			}

		}

		.wdpu-content {
			padding: 20px;
		}

		.wdpu-buttons {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 20px;
			height: 35px;
			line-height: 35px;
			background: #E8E8E8;
			border-top: 1px solid #ccc;
			box-shadow: 0 1px 0 0px #FFF inset;
			text-align: right;
		}
	}

	a {
		color: $col_primary;
		text-decoration: underline;
		opacity: .9;

		&:visited {
			color: $col_primary;
		}

		&:hover,
		&:active,
		&:focus {
			color: $col_primary;
			opacity: 1;
		}
	}

	.wdpu-head {
		border-bottom: 1px solid #DDD;
		padding: 14px 50px 10px 20px;
		min-height: 25px;
		margin: 0;
	}

	.wdpu-title,
	.wdpu-subtitle {
		font-size: 1.35 * $font_size;
		line-height: 24px;
		padding: 0;
		color: $col_primary;
		display: inline-block;
	}

	.wdpu-title {
		font-weight: bold;
	}

	.wdpu-subtitle {
		font-weight: 100;
	}

	.wdpu-cta {
		line-height: 1.2em;
		padding: 8px 24px;
		opacity: .9;
		margin: 0 0 0 20px;
		text-decoration: none;
		font-weight: 100;

		background: $col_primary;
		color: $col_secondary;

		&:visited {
			color: $col_secondary;
		}

		&:hover,
		&:active,
		&:focus {
			color: $col_secondary;
			opacity: 1;
		}
	}

	/* Default: Image on right side */
	.wdpu-text {
		margin: 0 40% 0 0;
	}
	.wdpu-image {
		text-align: right;
		right: 0;
		width: 40%;
	}

	&.img-left {
		.wdpu-text {
			margin: 0 0 0 40%;
			margin-right: 0;
		}
		.wdpu-image {
			text-align: left;
			right: auto;
			left: 0;
		}
	}

	&.no-img {
		.wdpu-text {
			margin: 0;
		}
		.wdpu-image {
			display: none;
		}
	}

	&.rounded {
		.wdpu-cta {
			border-radius: 5px;
		}
		.wdpu-msg {
			border-radius: 11px;
		}
		.wdpu-msg-inner {
			border-radius: 10px;
		}
		.wdpu-close {
			border-radius: 0 10px 0 0;
		}
	}

	&.buttons {
		.wdpu-inner {
			margin-bottom: 75px;
		}
		.wdpu-image {
			margin-bottom: 75px;
		}
	}

	@media screen and (max-width: $break_point_tablet) and (min-width: $break_point_phone) {
		.wdpu-msg,
		.wdpu-msg.small-width {
			left: $padding_tablet !important;
			right: $padding_tablet !important;
			width: auto;
		}
		&,
		&.img-right,
		&.img-left,
		&.no-img {
			.wdpu-image {
				width: 100%;
				position: relative;
				display: block;
				max-height: $img_height_tablet;
				margin: 0;
				img {
					height: auto;
					width: 100%;
				}
			}
			.wdpu-text {
				margin: 0;
			}
		}
		&.mobile-no-img {
			.wdpu-image {
				display: none;
			}
		}
	}

	@media screen and (max-width: $break_point_phone) {
		.wdpu-msg,
		.wdpu-msg.small-width {
			left: $padding_phone !important;
			right: $padding_phone !important;
			width: auto;
		}
		&,
		&.img-right,
		&.img-left,
		&.no-img {
			.wdpu-image {
				width: 100%;
				position: relative;
				display: block;
				max-height: $img_height_phone;
				margin: 0;
				img {
					height: auto;
					width: 100%;
				}
			}
			.wdpu-text {
				margin: 0;
			}
		}
		&.mobile-no-img {
			.wdpu-image {
				display: none;
			}
		}
	}
}