[submodule "inc/external/wpmudev-dashboard"]
	path = inc/external/wpmudev-dashboard
	url = git@bitbucket.org:incsub/wpmudev-dashboard-notification.git
[submodule "inc/external/wpmu-lib"]
	path = inc/external/wpmu-lib
	url = git@bitbucket.org:incsub/wpmu-lib.git
[submodule "inc/external/wdev-frash"]
	path = inc/external/wdev-frash
	url = git@bitbucket.org:incsub/free-dashboard.git
