/**
 * Style: Simple
 */

#messagebox {
	.wdpu-container {
		position: fixed;
		z-index: 99999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: auto;
		background: rgba(0, 0, 0, 0.5);
	}

	.wdpu-holder {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 0 8px 0 0;
		text-align: center;

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
	}

	.wdpu-wrap {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin: 0 auto;
		text-align: left;
		padding: 5px;
		border-radius: 10px;
		background-color: rgba(255, 255, 255, 0.5);

		.wdpu-close {
			position: absolute;
			top: -12px;
			right: -12px;
			width: 29px;
			height: 29px;
			line-height: 28px;
			text-align: center;
			border-radius: 30px;
			background: #333;
			color: #EEE;
			z-index: 10;
			transition: background .3s, color .3s, border .3s;
			box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
			border: 2px solid #EEE;
			text-decoration: none;

			&:before {
				content: '\D7';
				margin: 0 -2px 0 0;
				position: relative;
				font-weight: bold;
				font-size: 24px;
				font-family: helvetica, sans-serif !important;
			}

			&:hover {
				background: #000;
				color: #FFF;
				border-color: #FFF;
			}
		}
	}

	.wdpu-msg {
		border-radius: 6px;
		overflow: hidden;
		max-width: 800px;
		min-width: 100px;
		margin: 0px auto;
		background: #F2F2F2;
		position: relative;
		z-index: 1;

		&.custom-size {
			max-width: none;
			min-width: 0;
		}

		& > .wdpu-text,
		& > .wdpu-image {
			vertical-align: middle;
			display: inline-block;
			margin: 0 0;
			box-sizing: border-box;
			border: 1px solid red;
		}

		& > .wdpu-text {
			padding: 20px;
		}

		& > .wdpu-image {
			position: absolute;
			top: 0;
			bottom: 0;

			img {
				max-height: 100%;
				max-width: 100%;
			}
		}
	}

	/* Default: Image on right side */
	.wdpu-text {
		margin-right: 40%;
	}
	.wdpu-image {
		text-align: right;
		right: 0;
		width: 40%;
	}

	&.img-left {
		.wdpu-text {
			margin-left: 40%;
			margin-right: 0;
		}
		.wdpu-image {
			text-align: left;
			right: auto;
			left: 0;
		}
	}

	&.no-img {
		.wdpu-text {
			margin: 0;
		}
		.wdpu-image {
			display: none;
		}
	}
}