$break_large:     900px;
$break_small:     600px;


/*====================================*\
========================================
==                                    ==
==           GENERAL STYLES           ==
==                                    ==
========================================
\*====================================*/


.post-type-inc_popup {
	.status-icon {
		color: #CCC;
		width: 30px;
		font-size: 16px;
		line-height: 20px;
		height: 20px;

		&:before {
			content: "\f153";
		}
	}

	.status-active .status-icon,
	.status-publish .status-icon {
		color: #090;
		font-size: 30px;

		&:before {
			content: "\f147";
		}
	}

	.status-trash .status-icon {
		&:before {
			content: "\f182";
		}
	}
}

select.block,
textarea.block,
input.block {
	margin-left: 0;
	margin-right: 0;
	display: block;
	width: 100%;
}

textarea.block {
	height: 7.2em;
}

.wp-admin select {
	vertical-align: bottom;
	margin-top: 0;
}

.inp-small {
	width: 75px;
}

.inp-row {
	min-height: 32px;
}

.inactive {
	opacity: .35;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10000;
	}
}

.inactive-anim {
	transition: opacity .3s;
}

fieldset {
	border: 1px solid #DDD;
	padding: 8px;
	margin: 0 0 10px;

	&:last-child {
		margin-bottom: 0;
	}
}


/*=================================*\
=====================================
==                                 ==
==           ADD ON LIST           ==
==                                 ==
=====================================
\*=================================*/


.tbl-addons {
	.column-name {
		width: 300px;
	}
	.column-type {
		width: 100px;
	}
	.column-desc {
	}
	.column-active {
		width: 100px;
	}

	tbody td,
	tbody th {
		-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
		box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	}

	th.check-column {
		border-left: 4px solid transparent;
	}

	.the-name {
		display: block;
		margin-bottom: .2em;
		font-size: 14px;
	}

	.secondary {
		padding-bottom: 5px;
	}

	.active {
		th.check-column {
			border-left: 4px solid #2EA2CC;
		}

		td,
		th {
			background-color: #F7FCFE;
		}

		.the-name {
			font-weight: bold;
		}
	}
}


/*================================*\
====================================
==                                ==
==           POPUP LIST           ==
==                                ==
====================================
\*================================*/


.post-type-inc_popup {
	.view-switch {
		display: none;
	}

	/* Hide the date-filter which is always included by WordPress */
	.tablenav .alignleft.actions {
		#post-query-submit,
		select[name="m"] {
			display: none;
		}
	}

	[for="po_name-hide"] {
		display: none;
	}

	.wp-list-table {
		tbody td,
		tbody th {
			-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
			box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
			padding-top: 15px;
			padding-bottom: 15px;
		}

		.column-po_order {
			width: 10px;

		}

		tbody tr:hover {
			.column-po_order {
				cursor: move;
				cursor: ns-resize;

				&:before {
					content: "\f333";
					width: 20px;
					height: 20px;
					font-size: 20px;
					line-height: 1;
					font-family: dashicons;
					text-decoration: inherit;
					font-weight: normal;
					font-style: normal;
					vertical-align: top;
					text-align: center;
					transition: color 0.1s ease-in 0ms;
					-webkit-transition: color 0.1s ease-in 0ms;
					-webkit-font-smoothing: antialiased;
				}
			}
		}

		.column-po_name {
			.the-title {
				display: block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-weight: bold;
			}
		}

		.column-po_cond {
			width: 55%;

			@media screen and (max-width: $break_small) {
				width: 40%;
			}
		}

		.column-po_pos {
			width: 30px;
			text-align: center;
			white-space: nowrap;
		}

		.column-po_state {
			width: 60px;
			text-align: center;
		}

		.rule {
			background: #999;
			color: #FFF;
			padding: 1px 6px;
			border-radius: 3px;
			margin: 0 4px 1px 0;
			font-size: 12px;
			float: left;
		}

		#the-list {
			tr:nth-child(odd) {
				background-color: #FFF !important;
			}

			tr:nth-child(even) {
				background-color: #F9F9F9 !important;
			}
		}

		tr.ui-sortable-helper {
			box-shadow: 0 1px 5px rgba(0,0,0,0.2);
		}

		.ui-sortable-placeholder {
			position: relative;

			.column-po_order:before {
				content: 'X';
				display: block;
				position: absolute;
				background: red;
				width: 20px;
				height: 20px;
			}

			td {
				background: #DDD;
				height: 70px;
				padding: 0;
			}
		}
	}
}


/*============================*\
================================
==                            ==
==           EDITOR           ==
==                            ==
================================
\*============================*/


.sticky-submit {
	#submitdiv.closed,
	#submitdiv {

		position: fixed;
		right: 0;
		z-index: 10;
		top: 0;
		left: 160px;
		box-shadow: 0 5px 7px -3px rgba(0,0,0,0.2);
		background: #F5F5F5;

		.inside {
			display: block;
		}

		.hndle,
		.handlediv {
			display: none;
		}

		#misc-publishing-actions {
			display: none;
		}

		.sticky-actions {
			padding: 10px;
		}

		.delete-action {
			float: left;
		}

		.save-action,
		.preview-action,
		.publishing-action {
			float: right;
			margin-right: 10px;
		}
	}

	&.folded #submitdiv {
		left: 36px;
	}

	#post-body {
		margin-top: 75px;
	}
}

.wp-toolbar .sticky-submit {
	#submitdiv {
		top: 32px;
	}

	#post-body {
		margin-top: 105px;
	}
}

#submitdiv {
	.preview-action .spinner,
	.publishing-action .spinner,
	.save-action .spinner {
		float: left;
	}

	.submitdelete.disabled {
		color: #AAA !important;
		cursor: default;
	}

	.delete-action {
		line-height: 28px;
		vertical-align: middle;
		text-align: left;
		float: left;
	}

	.publishing-action {
		text-align: right;
		float: right;
		line-height: 23px;
	}
}

.post-type-inc_popup #post {

	#post-body-content {
		height: 75px;
	}

	.columns-2 #postbox-container-1 {
		padding-top: 75px;
	}

	#normal-sortables {
		min-height: 0;
	}

	#titlediv {
		label {
			font-weight: bold;
			margin: 5px 0;
			display: block;
		}

		#po_name {
			width: 100%;
			max-width: 800px;
		}
	}

	.postbox-container {
		#meta-appearance {
			display: inline-block;
			width: 49%;
		}

		#meta-behavior {
			float: right;
			width: 49%;
		}

		#meta-content,
		#meta-rules {
			clear: both;
		}
	}

	.content-main {
		margin-right: 270px;
	}

	.content-image {
		position: absolute;
		width: 250px;
		top: 0;
		right: 12px;

		.dropzone {
			height: 224px;
			width: 224px;
			line-height: 224px;
		}
	}

	.add_image {
		padding-left: 5px;

		.add-image-icon:before {
			color: #888;
		}
	}

	h3.main-content {
		padding-bottom: 10px;
	}

	.all-rules-box,
	.active-rules-box {
		border: 1px solid #E5E5E5;
		height: 400px;
		padding: 10px;
		overflow: scroll;
		overflow-x: hidden;
		overflow-y: scroll;
		background: #FDFDFD;
		box-shadow: 0 1px 2px #F0F0F0 inset;
	}

	.all-rules,
	.active-rules {
		list-style: none;
		margin: 0;
		padding: 0;

		& > li {
			padding: 5px;
			margin: 0 0 5px;
			line-height: 20px;
			min-height: 30px;
			border-radius: 2px;
			border: 1px solid #E5E5E5;
			background: #FEFEFE;
			cursor: default;
			position: relative;

			&:last-child {
				margin: 0;
			}

			&:hover {
				border-color: #AAA;
				color: #000;
				background: #FFF;
				box-shadow: 0 1px 3px #E9E9E9;
			}
		}
	}

	.all-rules {
		.rule {
			cursor: pointer;

			&.inactive {
				cursor: default;
			}

			&.on {
				background: #F7FCFE;
				border-color: #2EA2CC;
			}
		}
	}

	.active-rules {
		.rule.off {
			display: none !important;
		}

		.rule-title {
			background: #E5E5E5;
			padding: 5px;
			margin: -5px;
			cursor: pointer;
		}

		.rule-toggle {
			position: absolute;
			right: 0;
			top: 0;
			width: 30px;
			height: 30px;
			cursor: pointer;
			border-left: 1px solid #DCDCDC;

			&:before {
				content: '\f140';
				line-height: 30px;
				color: #333;
			}
		}

		.rule.open .rule-toggle {
			&:before {
				content: '\f142';
			}
		}

		.rule-inner {
			display: none;
			margin-top: 10px;
			padding: 3px;
		}

		.rule-form {
			margin-top: 5px;
			padding-top: 5px;
		}

		.rule.open .rule-inner {
			display: block;
		}
	}


	.wp-picker-container {
		* {
			box-sizing: content-box;
		}

		.wp-picker-holder {
			position: absolute;
			z-index: 10;
		}

		.iris-picker {
			box-shadow: 0 1px 5px rgba(0,0,0,0.2);
		}
	}

	hr {
		margin: 16px -12px 6px;
		border-top: 0;
		border-bottom: 1px solid #EEE;
	}

	.col-all-rules {
		width: 320px;
	}

	.col-active-rules {
		float: none;
		display: block;
	}

	.wpmui-toggle {
		float: right;
		margin: 6px;
	}

	.slider-wrap {
		.slider {
			margin: 15px 10px 5px;
		}

		.slider-data {
			padding-bottom: 10px;
			border-bottom: 1px solid #EEE;
		}
	}
}

#poststuff .postbox label h3 {
	border: 0;
	padding: 0;
	cursor: default;
}


/*============================*\
================================
==                            ==
==           SLIDER           ==
==                            ==
================================
\*============================*/


.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	width: .8em;
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}
/* Component containers
----------------------------------*/
.ui-widget {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1.1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1em;
}
.ui-widget-content {
	border: 1px solid #aaaaaa;
	background: #ffffff;
	color: #222222;
}
.ui-widget-content a {
	color: #222222;
}
.ui-widget-header {
	border: 1px solid #aaaaaa;
	background: #cccccc;
	color: #222222;
	font-weight: bold;
}
.ui-widget-header a {
	color: #222222;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3;
	background: #e6e6e6;
	font-weight: normal;
	color: #555555;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #555555;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #999999;
	background: #dadada;
	font-weight: normal;
	color: #212121;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #212121;
	text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #aaaaaa;
	background: #ffffff;
	font-weight: normal;
	color: #212121;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #212121;
	text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #fcefa1;
	background: #fbf9ee;
	color: #363636;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
	color: #363636;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
	border: 1px solid #cd0a0a;
	background: #fef1ec;
	color: #cd0a0a;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
	color: #cd0a0a;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
	color: #cd0a0a;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter:Alpha(Opacity=70);
	font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35);
	background-image: none;
}
.ui-state-disabled .ui-icon {
	filter:Alpha(Opacity=35); /* For IE8 - See #6059 */
}
