$break_large:     900px;
$break_small:     600px;

/* ==================  GENERAL STYLES  ================== */
.post-type-inc_popup {
	.status-icon {
		color: #CCC;
		width: 30px;
		font-size: 16px;
		line-height: 20px;
		height: 20px;

		&:before {
			content: "\f153";
		}
	}

	.status-active .status-icon,
	.status-publish .status-icon {
		color: #090;
		font-size: 30px;

		&:before {
			content: "\f147";
		}
	}

	.status-trash .status-icon {
		&:before {
			content: "\f182";
		}
	}
}

select.block,
textarea.block,
input.block {
	margin-left: 0;
	margin-right: 0;
	display: block;
	width: 100%;
}

/* ==================  ADDON LIST  ================== */

.tbl-addons {
	.column-name {
		width: 300px;
	}
	.column-type {
		width: 100px;
	}
	.column-desc {
	}
	.column-active {
		width: 100px;
	}

	tbody td,
	tbody th {
		-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
		box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	}

	th.check-column {
		border-left: 4px solid transparent;
	}

	.the-name {
		display: block;
		margin-bottom: .2em;
		font-size: 14px;
	}

	.secondary {
		padding-bottom: 5px;
	}

	.active {
		th.check-column {
			border-left: 4px solid #2EA2CC;
		}

		td,
		th {
			background-color: #F7FCFE;
		}

		.the-name {
			font-weight: bold;
		}
	}
}

/* ==================  POPUP LIST  ================== */

.post-type-inc_popup {
	.view-switch {
		display: none;
	}

	.tablenav .alignleft.actions.bulkactions {
		display: block;
	}

	.tablenav .alignleft.actions {
		display: none;
	}

	.wp-list-table {
		tbody td,
		tbody th {
			-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
			box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
			padding-top: 15px;
			padding-bottom: 15px;
		}

		.column-po_name {
			width: 300px;
			@media screen and (max-width: $break_large) {
				width: 200px;
			}
			@media screen and (max-width: $break_small) {
				width: 40%;
			}

			.the-title {
				display: block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-weight: bold;
			}
		}

		.column-po_cond {
			@media screen and (max-width: $break_small) {
				width: 60%;
			}
		}

		.column-po_state {
			width: 60px;
			text-align: center;
		}

		.rule {
			background: #999;
			color: #FFF;
			padding: 1px 6px;
			border-radius: 3px;
			margin: 0 4px 1px 0;
			font-size: 12px;
			float: left;
		}
	}
}


/* ==================  EDITOR  ================== */


.sticky-submit {
	#submitdiv.closed,
	#submitdiv {

		position: fixed;
		right: 0;
		z-index: 10;
		top: 0;
		left: 160px;
		box-shadow: 0 5px 7px -3px rgba(0,0,0,0.2);
		background: #F5F5F5;

		.inside {
			display: block;
		}

		.hndle,
		.handlediv {
			display: none;
		}

		#misc-publishing-actions {
			display: none;
		}

		.sticky-actions {
			padding: 10px;
		}

		.delete-action {
			float: left;
		}

		.save-action,
		.preview-action,
		.publishing-action {
			float: right;
			margin-right: 10px;
		}
	}

	&.folded #submitdiv {
		left: 36px;
	}

	#post-body {
		margin-top: 75px;
	}
}

.wp-toolbar .sticky-submit {
	#submitdiv {
		top: 32px;
	}

	#post-body {
		margin-top: 105px;
	}
}

#submitdiv {
	.preview-action .spinner,
	.publishing-action .spinner,
	.save-action .spinner {
		float: left;
	}

	.submitdelete.disabled {
		color: #AAA !important;
		cursor: default;
	}

	.delete-action {
		line-height: 28px;
		vertical-align: middle;
		text-align: left;
		float: left;
	}

	.publishing-action {
		text-align: right;
		float: right;
		line-height: 23px;
	}
}

.post-type-inc_popup #post {

	label {
		cursor: default;
	}

	#post-body-content {
		height: 75px;
	}

	.columns-2 #postbox-container-1 {
		padding-top: 75px;
	}

	#normal-sortables {
		min-height: 0;
	}

	#titlediv {
		label {
			font-weight: bold;
			margin: 5px 0;
			display: block;
		}

		#po_name {
			width: 100%;
			max-width: 800px;
		}
	}

	.postbox-container {
		#meta-appearance {
			display: inline-block;
			width: 49%;
		}

		#meta-behavior {
			float: right;
			width: 49%;
		}

		#meta-content,
		#meta-rules {
			clear: both;
		}
	}

	.content-main {
		margin-right: 270px;
	}

	.content-image {
		position: absolute;
		width: 250px;
		top: 0;
		right: 12px;

		.dropzone {
			height: 224px;
			width: 224px;
			line-height: 224px;
		}
	}

	.add_image {
		padding-left: 5px;

		.add-image-icon:before {
			color: #888;
		}
	}

	h3.main-content {
		padding-bottom: 10px;
	}

	.all-rules-box,
	.active-rules-box {
		border: 1px solid #E5E5E5;
		height: 250px;
		padding: 10px;
		overflow: scroll;
		overflow-x: hidden;
		overflow-y: scroll;
	}

	.all-rules,
	.active-rules {
		list-style: none;
		margin: 0;
		padding: 0;

		& > li {
			padding: 5px;
			margin: 0 0 10px;
			line-height: 20px;
			min-height: 30px;
			border: 1px solid #E5E5E5;

			&:last-child {
				margin: 0;
			}
		}
	}
}

#poststuff .postbox label h3 {
	border: 0;
	padding: 0;
	cursor: default;
}

/* ==================  IMPORTED  ================== */

div.popover-liquid-left {
	float: left;
	clear: left;
	width: 100%;
	margin-right: -325px;
}

div.popover-liquid-right {
	float: right;
	clear: right;
	width: 300px;
}

#popover-left {
	margin-left: 5px;
	margin-right: 325px;
}

#popover-left #edit-popover {
	background-color: transparent;
	border: 0 none;
}

div.popover-holder-wrap {
	padding: 0;
	margin: 10px 0 20px;
}

.sidebar-name {
	background-color: #aaa;
	background-image: url(../img/ed-bg.gif);
	text-shadow: #FFF 0 1px 0;
	border-color: #dfdfdf;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-khtml-border-top-right-radius: 8px;
	-khtml-border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;

	&:hover {
		color: #333 !Important;
		cursor: move;
	}
}

p.description {
	margin: 0 12px 12px;
}

.section-holder {
	border-width: 0 1px 1px;
	border-style: none solid solid;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-khtml-border-bottom-right-radius: 8px;
	-khtml-border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	background-color: #f1f1f1;
	border-color: #ddd;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 20px;
	overflow: hidden;
}

.popover-holder {
	position: relative;
	background-color: #fff;
	border-color: #ddd;
	border-width: 0 1px 1px;
	border-style: none solid solid;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-khtml-border-bottom-right-radius: 8px;
	-khtml-border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	padding: 0;
}

div.popover-details {
	padding-top: 10px;
	padding-left: 10px;
}

.popover-holder label {
	margin-bottom: 10px;
	font-weight: bold;
}

input.wide {
	margin-top: 5px;
	width: 98%;
	margin-left: 0;
	margin-bottom: 5px;
}

#wp-popover_content-wrap {
	width: 98%;
}

.popover-holder h3 {
	background-color: #efefef;
	text-shadow: 0 1px 0 #FFFFFF;
	color: #000;
	font: normal bold 12px/2.2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-left: 0;
	margin-right: 0;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.placeholder-rules {
	width: 95%;
	margin-left: 15px;
	margin-bottom: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	border: 2px dashed #ddd;
	color: #a9a9a9;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	clear: both;
	min-height: 80px;
}

.droppable-rules {
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	border: 3px dashed #ddd;
	color: #a9a9a9;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	clear: both;
}

.droppable-rules.hoveringover {
	border: 3px dashed #78aad3;
	color: #78aad3;
}

#positive-rules {
	background: #fcfcfc;
}
#negative-rules {
	background: #fcfcfc;
}

.action-top.open {
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-khtml-border-top-right-radius: 6px;
	-khtml-border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	background: #dfdfdf url("../img/gray-grad.png") repeat-x left top;
	text-shadow: #fff 0 1px 0;
	width: 260px;
	margin-left: 10px;
	padding: 5px 5px 5px 15px;
	font-weight: bold;
	border: 1px solid #ddd;
	margin-bottom: 0px;
	min-height: 20px;
}

.action-top.closed {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	border-radius: 6px;
	background: #dfdfdf url("../img/gray-grad.png") repeat-x left top;
	text-shadow: #fff 0 1px 0;
	width: 260px;
	margin-left: 10px;
	padding: 5px 5px 5px 15px;
	font-weight: bold;
	border: 1px solid #ddd;
	margin-bottom: 10px;
	min-height: 20px;
}

.action-top:hover {
	cursor: move;
}

.action-body.open {
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottm-left-radius: 6px;
	-khtml-border-bottm-right-radius: 6px;
	-khtml-border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	background: #f7f7f7;
	text-shadow: #fff 0 1px 0;
	width: 250px;
	margin-left: 10px;
	padding: 5px 15px;
	font-weight: normal;
	border: 1px solid #ddd;
	margin-bottom: 10px;
	min-height: 20px;
}

.action-body.closed {
	display: none;
}

.action-button {
	float: right;
	margin-right: 0px;
	width: 26px;
	height: 20px;
	background: url("../img/arrows.png") no-repeat scroll 5px 3px transparent;
}

.action-button:hover {
	background: url("../img/arrows-dark.png") no-repeat scroll 5px 3px transparent;
}

.action-top-placeholder {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	border-radius: 6px;
	background: transparent;
	width: 250px;
	margin-left: 10px;
	padding: 5px 15px;
	font-weight: bold;
	margin-bottom: 10px;
	min-height: 20px;
	border: 1px dashed #ddd;
}

div.popover-operation {
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 20px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #ddd;
}

#upmessage p a {
	text-decoration: none;
	float:right;
	cursor: pointer;
}

h2.sidebar-name span {
	float: right;
}
h2.sidebar-name span a {
	text-decoration: none;
	font-size: 11px;
}

#hiden-actions {
	margin-left: 5px;
	margin-right: 325px;
	display: none;
}

div.popover-operation h2 {
	text-shadow: 0 1px 0 #FFFFFF;
	color: #000;
	font: normal bold 12px/2.2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-left: 0;
	margin-right: 0;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

div.popover-operation .inner-operation {
	padding: 10px;
	font-size: 12px;
	background: #fff;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-khtml-border-bottom-right-radius: 8px;
	-khtml-border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

div.popover-operation .inner-operation p {
	margin-top: 0;
}

div.popover-operation .inner-operation p.description {
	margin: 10px 0 0;
}

#positive-rules-holder, #negative-rules-holder {
	clear: both;
}

div.buttons {
	text-align: right;
	padding: 10px 15px 10px 10px;
}
div.buttons a.cancellink {
	margin-right: 10px;
	font-size: 12px;
	text-decoration: underline;
	color: #797979;
}

.no-movecursor {
	cursor: auto !Important;
}

#upmessage p {
	padding: 5px;
	margin-top: 0;
	margin-bottom: 10px;
	background-color: #ffffe0;
	border: 1px solid #e6db55;
	margin-right: 15px;
}

#popovernotonurl, #popoveronurl {
	width: 99%;
	min-height: 10em;
}


.popover-operation fieldset {
	margin: auto;
	padding: 1em;
	border: 1px solid #e6e6e6;
	margin-bottom: 1em;
}


