/**
 * Style: Cabriolet
 */
.has-popup.no-scroll {
  overflow: hidden;
}
.has-popup.no-scroll body {
  overflow: hidden;
}

.wdpu-loading {
  position: relative;
}

.wdpu-loading:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8) url(%styleurl%../../../inc/external/wpmu-lib/img/spinner.gif) center no-repeat;
  z-index: 1000;
  cursor: default;
}

#messagebox {
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: rgba(0, 0, 0, 0.7);
  padding: 0 54px 0 50px;
  /* Default: Image on right side */
}
#messagebox.custom-size {
  padding: 0;
}
#messagebox.custom-pos .wdpu-msg {
  position: absolute;
  display: inline-block;
  margin: 0 0 30px;
}
#messagebox .wdpu-msg {
  position: relative;
  display: block;
  margin: 0 auto 30px;
  text-align: left;
  font-size: 15px;
  /* Size / responsiveness */
  max-width: 800px;
  min-width: 100px;
}
#messagebox .wdpu-msg.small-width {
  left: 50px !important;
  right: 54px !important;
  width: auto;
}
#messagebox .wdpu-msg p {
  font-size: 15px;
}
#messagebox .wdpu-msg p:first-child {
  margin-top: 0;
}
#messagebox .wdpu-msg p:last-child {
  margin-bottom: 0;
}
#messagebox .wdpu-msg .wdpu-close {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 30px;
  height: 30px;
  text-decoration: none;
  opacity: .9;
  z-index: 10;
  background: transparent url(%styleurl%img/close.png) no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #messagebox .wdpu-msg .wdpu-close {
    background: transparent url(%styleurl%img/close@2x.png) no-repeat;
    background-size: 30px 30px;
  }
}
#messagebox .wdpu-msg .wdpu-close:hover {
  opacity: 1;
}
#messagebox .wdpu-msg-inner {
  margin: 0px auto;
  position: relative;
  z-index: 1;
  max-height: 100%;
}
#messagebox .wdpu-msg-inner.custom-size {
  max-width: none;
  min-width: 0;
}
#messagebox .wdpu-msg-inner .wdpu-message-wrap {
  padding: 4px;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0px 1px 1px rgba(255, 255, 255, 0.08);
  position: relative;
}
#messagebox .wdpu-msg-inner .wdpu-message {
  background: #F2F2F2;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  max-height: 100%;
}
#messagebox .wdpu-msg-inner .wdpu-text {
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}
#messagebox .wdpu-msg-inner .wdpu-image {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
#messagebox .wdpu-msg-inner .wdpu-image img {
  height: 100%;
  width: auto;
  position: relative;
}
#messagebox .wdpu-msg-inner .wdpu-inner {
  margin-bottom: 60px;
  overflow: auto;
}
#messagebox .wdpu-msg-inner .wdpu-inner.no-bm {
  margin: 0;
}
#messagebox .wdpu-msg-inner .wdpu-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 0 29px 22px;
  height: 24px;
  line-height: 24px;
}
#messagebox a {
  color: #000001;
  text-decoration: underline;
  opacity: .9;
}
#messagebox a:visited {
  color: #000001;
}
#messagebox a:hover, #messagebox a:active, #messagebox a:focus {
  color: #000001;
  opacity: 1;
}
#messagebox .wdpu-title,
#messagebox .wdpu-subtitle {
  line-height: 1.3em;
  margin: 0 0 6px 0;
  color: #FDFDFC;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
#messagebox .wdpu-title {
  font-size: 30px;
  font-weight: bold;
}
#messagebox .wdpu-subtitle {
  font-size: 16.5px;
  font-weight: 400;
}
#messagebox .wdpu-cta {
  line-height: 1.2em;
  padding: 10px 30px;
  opacity: .9;
  margin: 0 20px 0 0;
  text-decoration: none;
  background: #000001;
  color: #000002;
}
#messagebox .wdpu-cta:visited {
  color: #000002;
}
#messagebox .wdpu-cta:hover, #messagebox .wdpu-cta:active, #messagebox .wdpu-cta:focus {
  color: #000002;
  opacity: 1;
}
#messagebox .wdpu-text {
  margin: 0 40% 0 0;
}
#messagebox .wdpu-image {
  text-align: right;
  right: 0;
  width: 40%;
}
#messagebox.img-left .wdpu-text {
  margin: 0 0 0 40%;
  margin-right: 0;
}
#messagebox.img-left .wdpu-image {
  text-align: left;
  right: auto;
  left: 0;
}
#messagebox.no-img .wdpu-text {
  margin: 0;
}
#messagebox.no-img .wdpu-image {
  display: none;
}
#messagebox.rounded .wdpu-cta {
  border-radius: 5px;
}
#messagebox.rounded .wdpu-message-wrap {
  border-radius: 10px;
}
#messagebox.rounded .wdpu-message {
  border-radius: 6px;
}
#messagebox.rounded .wdpu-image {
  border-radius: 0 5px 5px 0;
}
#messagebox.rounded.img-left .wdpu-image {
  border-radius: 5px 0 0 5px;
}

@media screen and (max-width: 770px) and (min-width: 480px) {
  #messagebox {
    padding: 0 54px 0 50px;
  }
  #messagebox .wdpu-image, #messagebox.img-right .wdpu-image, #messagebox.img-left .wdpu-image, #messagebox.no-img .wdpu-image {
    width: 100%;
    position: relative;
    display: block;
    max-height: 250px;
    margin: 0;
    border-radius: 0 !important;
  }
  #messagebox .wdpu-image img, #messagebox.img-right .wdpu-image img, #messagebox.img-left .wdpu-image img, #messagebox.no-img .wdpu-image img {
    height: auto;
    width: 100%;
  }
  #messagebox .wdpu-inner, #messagebox.img-right .wdpu-inner, #messagebox.img-left .wdpu-inner, #messagebox.no-img .wdpu-inner {
    margin-bottom: 55px;
  }
  #messagebox .wdpu-buttons, #messagebox.img-right .wdpu-buttons, #messagebox.img-left .wdpu-buttons, #messagebox.no-img .wdpu-buttons {
    padding-bottom: 24px;
  }
  #messagebox .wdpu-text, #messagebox.img-right .wdpu-text, #messagebox.img-left .wdpu-text, #messagebox.no-img .wdpu-text {
    margin: 0;
    padding: 15px 20px;
  }
  #messagebox .wdpu-title, #messagebox.img-right .wdpu-title, #messagebox.img-left .wdpu-title, #messagebox.no-img .wdpu-title {
    font-size: 26px;
    margin-bottom: .1em;
  }
  #messagebox .wdpu-subtitle, #messagebox.img-right .wdpu-subtitle, #messagebox.img-left .wdpu-subtitle, #messagebox.no-img .wdpu-subtitle {
    margin-bottom: .1em;
  }
  #messagebox p, #messagebox.img-right p, #messagebox.img-left p, #messagebox.no-img p {
    margin-bottom: 16px;
  }
  #messagebox.mobile-no-img .wdpu-image {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  #messagebox {
    padding: 0 14px 0 10px;
  }
  #messagebox .wdpu-image, #messagebox.img-right .wdpu-image, #messagebox.img-left .wdpu-image, #messagebox.no-img .wdpu-image {
    width: 100%;
    position: relative;
    display: block;
    max-height: 150px;
    margin: 0;
    border-radius: 0 !important;
  }
  #messagebox .wdpu-image img, #messagebox.img-right .wdpu-image img, #messagebox.img-left .wdpu-image img, #messagebox.no-img .wdpu-image img {
    height: auto;
    width: 100%;
  }
  #messagebox .wdpu-inner, #messagebox.img-right .wdpu-inner, #messagebox.img-left .wdpu-inner, #messagebox.no-img .wdpu-inner {
    margin-bottom: 50px;
  }
  #messagebox .wdpu-buttons, #messagebox.img-right .wdpu-buttons, #messagebox.img-left .wdpu-buttons, #messagebox.no-img .wdpu-buttons {
    padding-bottom: 19px;
  }
  #messagebox .wdpu-text, #messagebox.img-right .wdpu-text, #messagebox.img-left .wdpu-text, #messagebox.no-img .wdpu-text {
    margin: 0;
    padding: 10px 20px;
  }
  #messagebox .wdpu-title, #messagebox.img-right .wdpu-title, #messagebox.img-left .wdpu-title, #messagebox.no-img .wdpu-title {
    font-size: 24px;
    margin-bottom: .1em;
  }
  #messagebox .wdpu-subtitle, #messagebox.img-right .wdpu-subtitle, #messagebox.img-left .wdpu-subtitle, #messagebox.no-img .wdpu-subtitle {
    margin-bottom: 0;
  }
  #messagebox p, #messagebox.img-right p, #messagebox.img-left p, #messagebox.no-img p {
    margin-bottom: 8px;
  }
  #messagebox.mobile-no-img .wdpu-image {
    display: none;
  }
}
