/**
 * Style: Simple
 */

$font_size:          15px;
$break_point_tablet: 770px;
$break_point_phone:  480px;
$img_height_tablet:  250px;
$img_height_phone:   150px;
$padding_tablet:      50px;
$padding_phone:       10px;

$col_primary: #000001;   // Color code is replaced by plugin.
$col_secondary: #000002; // Color code is replaced by plugin.

.has-popup.no-scroll {
	overflow: hidden;

	body {
		overflow: hidden;
	}
}

.wdpu-loading {
	position: relative;
}

.wdpu-loading:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(255,255,255,0.8) url(%styleurl%../../../inc/external/wpmu-lib/img/spinner.gif) center no-repeat;
	z-index: 1000;
	cursor: default;
}

#messagebox {
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	background: rgba(0, 0, 0, 0.5);
	padding: 0 $padding_tablet+4px 0 $padding_tablet;

	&.custom-size {
		padding: 0;
	}

	&.inline {
		position: relative;
		overflow: visible;
		background: transparent;
		padding: 0;

		.wdpu-msg {
			max-width: 100%;
			margin: 0;
		}
	}

	&.custom-pos {
		.wdpu-msg {
			position: absolute;
			display: inline-block;
			margin: 0 0 30px;
		}
	}

	&.no-title.no-subtitle {
		.wdpu-head {
			display: none;
		}
	}

	&.no-title {
		.wdpu-title {
			display: none;
		}
	}

	&.no-subtitle {
		.wdpu-subtitle {
			display: none;
		}
	}

	/* wrap is positioned inside the #messagebox layer. */
	.wdpu-msg {
		position: relative;
		display: block;
		margin: 0 auto 30px;
		text-align: left;
		padding: 5px;
		background-color: rgba(255, 255, 255, 0.5);
		box-shadow: 0 2px 40px rgba(0,0,0,0.3);
		font-size: $font_size;

		/* Size / responsiveness */
		max-width: 800px;
		min-width: 100px;

		p {
			font-size: $font_size;

			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.wdpu-close {
		position: absolute;
		top: -12px;
		right: -12px;
		width: 30px;
		height: 30px;
		text-decoration: none;
		opacity: .9;
		z-index: 10;

		background: transparent url(%styleurl%img/close.png) no-repeat;

		@media only screen and (-webkit-min-device-pixel-ratio: 2) {
			background: transparent url(%styleurl%img/close@2x.png) no-repeat;
			background-size: 30px 30px;
		}

		&:hover {
			opacity: 1;
		}
	}

	.wdpu-msg-inner {
		margin: 0px auto;
		background: #F2F2F2;
		position: relative;
		z-index: 1;
		overflow: hidden;
		height: 100%;

		&.custom-size {
			max-width: none;
			min-width: 0;
		}
	}

	.wdpu-text,
	.wdpu-image {
		vertical-align: middle;
		display: inline-block;
		box-sizing: border-box;
	}

	.wdpu-text {
		padding: 20px 20px 64px;
		background: #F2F2F2;
		position: relative;
		z-index: 10;
		height: 100%;
	}

	.wdpu-image {
		position: absolute;
		top: 0;
		bottom: 0;
		overflow: hidden;
		z-index: -1;

		img {
			height: 100%;
			width: auto;
			position: relative;
		}
	}

	.wdpu-inner {
		overflow: auto;
		height: 100%;

		&.no-bm {
			margin: 0;
		}
	}

	.wdpu-buttons {
		position: absolute;
		padding: 20px;
		height: 24px;
		margin: 0 -20px -20px;

		white-space: nowrap;
	}

	a {
		color: $col_primary;
		text-decoration: underline;
		opacity: .9;

		&:visited {
			color: $col_primary;
		}

		&:hover,
		&:active,
		&:focus {
			color: $col_primary;
			opacity: 1;
		}
	}

	.wdpu-head {
		border-bottom: 1px solid #DDD;
		padding-bottom: .5em;
		margin-bottom: 1em;
	}

	.wdpu-title,
	.wdpu-subtitle {
		font-size: 1.5 * $font_size;
		line-height: 1.3em;
		margin: 0 0 .5em 0;
		color: $col_primary;
	}

	.wdpu-title {
		font-weight: bold;
	}

	.wdpu-subtitle {
		font-weight: 100;
	}

	.wdpu-cta {
		line-height: 1.2em;
		padding: 10px 30px;
		opacity: .9;
		margin: 0 20px 0 0;
		text-decoration: none;

		background: $col_primary;
		color: $col_secondary;

		&:visited {
			color: $col_secondary;
		}

		&:hover,
		&:active,
		&:focus {
			color: $col_secondary;
			opacity: 1;
		}
	}

	/* Default: Image on right side */
	.wdpu-text {
		margin: 0 40% 0 0;
		width: 60%;
	}
	.wdpu-image {
		text-align: right;
		right: 0;
		width: 40%;
	}

	&.img-left {
		.wdpu-text {
			margin: 0 0 0 40%;
			margin-right: 0;
			width: 60%;
		}
		.wdpu-image {
			text-align: left;
			right: auto;
			left: 0;
		}
	}

	&.no-img {
		.wdpu-text {
			margin: 0;
			width: 100%;
		}
		.wdpu-image {
			display: none;
		}
	}

	&.rounded {
		.wdpu-cta {
			border-radius: 5px;
		}
		.wdpu-msg {
			border-radius: 10px;
		}
		.wdpu-msg-inner {
			border-radius: 6px;
		}
	}

}

@media screen and (max-width: $break_point_tablet) and (min-width: $break_point_phone) {
	#messagebox {
		padding: 0 $padding_tablet+4px 0 $padding_tablet;

		&,
		&.img-right,
		&.img-left,
		&.no-img {
			.wdpu-image {
				width: 100%;
				position: relative;
				display: block;
				max-height: $img_height_tablet;

				img {
					height: auto;
					width: 100%;
				}
			}
			.wdpu-text {
				margin: 0;
				width: 100%;
				padding-top: 15px;
			}
			.wdpu-head {
				margin-bottom: .5em;
				padding-bottom: .4em;
			}
			.wdpu-title,
			.wdpu-subtitle {
				margin-bottom: .2em;
			}
			p {
				margin-bottom: 16px;
			}
		}
		&.mobile-no-img {
			.wdpu-image {
				display: none;
			}
		}
	}
}

@media screen and (max-width: $break_point_phone) {
	#messagebox {
		padding: 0 $padding_phone+4px 0 $padding_phone;

		&,
		&.img-right,
		&.img-left,
		&.no-img {
			.wdpu-image {
				width: 100%;
				position: relative;
				display: block;
				max-height: $img_height_phone;

				img {
					height: auto;
					width: 100%;
				}
			}
			.wdpu-text {
				margin: 0;
				width: 100%;
				padding-top: 10px;
			}
			.wdpu-head {
				margin-bottom: .3em;
				padding-bottom: .2em;
			}
			.wdpu-title,
			.wdpu-subtitle {
				margin-bottom: .2em;
			}
			p {
				margin-bottom: 8px;
			}
		}
		&.mobile-no-img {
			.wdpu-image {
				display: none;
			}
		}
	}
}
