/**
 * Style: Cabriolet
 */

$font_size:          15px;
$break_point_tablet: 770px;
$break_point_phone:  480px;
$img_height_tablet:  250px;
$img_height_phone:   150px;
$padding_tablet:      50px;
$padding_phone:       10px;

$col_primary: #000001;
$col_secondary: #000002;

.has-popup {
	overflow: hidden;

	body {
		overflow: hidden;
	}
}

#messagebox {
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	background: rgba(0, 0, 0, 0.55);
	padding: 0 $padding_tablet+4px 0 $padding_tablet;

	&.custom-size {
		padding: 0;

		.wdpu-msg {
			position: absolute;
			display: inline-block;
			margin: 0 0 30px;
		}
	}

	.wdpu-msg {
		position: relative;
		display: block;
		margin: 0 auto 30px;
		text-align: left;
		font-size: $font_size;

		/* Size / responsiveness */
		max-width: 800px;
		min-width: 100px;

		&.small-width {
			left: $padding_tablet !important;
			right: $padding_tablet + 4px !important;
			width: auto;
		}

		p {
			font-size: $font_size;

			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}

		.wdpu-close {
			position: absolute;
			top: -12px;
			right: -12px;
			width: 30px;
			height: 30px;
			text-decoration: none;
			opacity: .9;
			z-index: 10;

			background: transparent url(%styleurl%img/close.png) no-repeat;

			@media only screen and (-webkit-min-device-pixel-ratio: 2) {
				background: transparent url(%styleurl%img/close@2x.png) no-repeat;
				background-size: 30px 30px;
			}

			&:hover {
				opacity: 1;
			}
		}
	}

	.wdpu-msg-inner {
		margin: 0px auto;
		position: relative;
		z-index: 1;
		max-height: 100%;

		&.custom-size {
			max-width: none;
			min-width: 0;
		}

		.wdpu-message-wrap {
			padding: 4px;
			background: rgba(0,0,0,0.3);
			box-shadow: 0 0px 1px 1px rgba(255, 255, 255, 0.08);
			position: relative;
		}

		.wdpu-message {
			background: #F2F2F2;
			position: relative;
			box-sizing: border-box;
			overflow: hidden;
			max-height: 100%;
		}

		.wdpu-text {
			padding: 20px;
			box-sizing: border-box;
			position: relative;
		}

		.wdpu-image {
			position: absolute;
			top: 0;
			bottom: 0;
			overflow: hidden;

			img {
				height: 100%;
				width: auto;
				position: relative;
			}
		}

		.wdpu-inner {
			margin-bottom: 60px;
			overflow: auto;

			&.no-bm {
				margin: 0;
			}
		}

		.wdpu-buttons {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 0 0 29px 22px;
			height: 24px;
			line-height: 24px;
		}
	}



	a {
		color: $col_primary;
		text-decoration: underline;
		opacity: .9;

		&:visited {
			color: $col_primary;
		}

		&:hover,
		&:active,
		&:focus {
			color: $col_primary;
			opacity: 1;
		}
	}

	.wdpu-head {
	}

	.wdpu-title,
	.wdpu-subtitle {
		line-height: 1.3em;
		margin: 0 0 6px 0;
		color: #FDFDFC;
		text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	}

	.wdpu-title {
		font-size: 2 * $font_size;
		font-weight: bold;
	}

	.wdpu-subtitle {
		font-size: 1.1 * $font_size;
		font-weight: 400;
	}

	.wdpu-cta {
		line-height: 1.2em;
		padding: 10px 30px;
		opacity: .9;
		margin: 0 20px 0 0;
		text-decoration: none;

		background: $col_primary;
		color: $col_secondary;

		&:visited {
			color: $col_secondary;
		}

		&:hover,
		&:active,
		&:focus {
			color: $col_secondary;
			opacity: 1;
		}
	}

	/* Default: Image on right side */
	.wdpu-text {
		margin: 0 40% 0 0;
	}
	.wdpu-image {
		text-align: right;
		right: 0;
		width: 40%;
	}

	&.img-left {
		.wdpu-text {
			margin: 0 0 0 40%;
			margin-right: 0;
		}
		.wdpu-image {
			text-align: left;
			right: auto;
			left: 0;
		}
	}

	&.no-img {
		.wdpu-text {
			margin: 0;
		}
		.wdpu-image {
			display: none;
		}
	}

	&.rounded {
		.wdpu-cta {
			border-radius: 5px;
		}
		.wdpu-message-wrap {
			border-radius: 10px;
		}
		.wdpu-message {
			border-radius: 6px;
		}
		.wdpu-image {
			border-radius: 0 5px 5px 0;
		}
		&.img-left {
			.wdpu-image {
				border-radius: 5px 0 0 5px;
			}
		}
	}
}

@media screen and (max-width: $break_point_tablet) and (min-width: $break_point_phone) {
	#messagebox {
		padding: 0 $padding_tablet+4px 0 $padding_tablet;

		&,
		&.img-right,
		&.img-left,
		&.no-img {
			.wdpu-image {
				width: 100%;
				position: relative;
				display: block;
				max-height: $img_height_tablet;
				margin: 0;
				border-radius: 0 !important;
				img {
					height: auto;
					width: 100%;
				}
			}
			.wdpu-inner {
				margin-bottom: 55px;
			}
			.wdpu-buttons {
				padding-bottom: 24px;
			}
			.wdpu-text {
				margin: 0;
				padding: 15px 20px;
			}
			.wdpu-title {
				font-size: 26px;
				margin-bottom: .1em;
			}
			.wdpu-subtitle {
				margin-bottom: .1em;
			}
			p {
				margin-bottom: 16px;
			}
		}
		&.mobile-no-img {
			.wdpu-image {
				display: none;
			}
		}
	}
}

@media screen and (max-width: $break_point_phone) {
	#messagebox {
		padding: 0 $padding_phone+4px 0 $padding_phone;

		&,
		&.img-right,
		&.img-left,
		&.no-img {
			.wdpu-image {
				width: 100%;
				position: relative;
				display: block;
				max-height: $img_height_phone;
				margin: 0;
				border-radius: 0 !important;
				img {
					height: auto;
					width: 100%;
				}
			}
			.wdpu-inner {
				margin-bottom: 50px;
			}
			.wdpu-buttons {
				padding-bottom: 19px;
			}
			.wdpu-text {
				margin: 0;
				padding: 10px 20px;
			}
			.wdpu-title {
				font-size: 24px;
				margin-bottom: .1em;
			}
			.wdpu-subtitle {
				margin-bottom: 0;
			}
			p {
				margin-bottom: 8px;
			}
		}
		&.mobile-no-img {
			.wdpu-image {
				display: none;
			}
		}
	}
}