/**
 * Style: Cabriolet
 */

$font_size: 15px;

$col_primary: #000001;
$col_secondary: #000002;

.has-popup {
	overflow: hidden;

	body {
		overflow: hidden;
	}
}

#messagebox {
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	background: rgba(0, 0, 0, 0.55);

	.wdpu-msg {
		position: absolute;
		display: inline-block;
		margin: 0 0 30px;
		text-align: left;
		font-size: $font_size;

		/* Size / responsiveness */
		max-width: 800px;
		min-width: 100px;

		&.small-width {
			left: 10px;
			right: 14px;
			width: auto;
		}

		p {
			font-size: $font_size;

			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}

		.wdpu-close {
			position: absolute;
			top: -12px;
			right: -12px;
			width: 30px;
			height: 30px;
			text-decoration: none;
			opacity: .9;
			z-index: 10;

			background: transparent url(%styleurl%img/close.png) no-repeat;

			@media only screen and (-webkit-min-device-pixel-ratio: 2) {
				background: transparent url(%styleurl%img/close@2x.png) no-repeat;
				background-size: 30px 30px;
			}

			&:hover {
				opacity: 1;
			}
		}
	}

	.wdpu-msg-inner {
		margin: 0px auto;
		position: relative;
		z-index: 1;
		max-height: 100%;

		&.custom-size {
			max-width: none;
			min-width: 0;
		}

		.wdpu-message-wrap {
			padding: 4px;
			background: rgba(0,0,0,0.3);
			box-shadow: 0 0px 1px 1px rgba(255, 255, 255, 0.08);
			position: relative;
		}

		.wdpu-message {
			background: #F2F2F2;
			position: relative;
			box-sizing: border-box;
			overflow: hidden;
			max-height: 100%;
		}

		.wdpu-text {
			padding: 20px;
			box-sizing: border-box;
		}

		.wdpu-image {
			position: absolute;
			top: 0;
			bottom: 0;
			overflow: hidden;

			img {
				max-height: 100%;
				max-width: 100%;
			}
		}

		.wdpu-inner {
			margin-bottom: 60px;
			overflow: auto;

			&.no-bm {
				margin: 0;
			}
		}

		.wdpu-buttons {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 0 0 29px 22px;
			height: 24px;
			line-height: 24px;
		}
	}



	a {
		color: $col_primary;
		text-decoration: underline;
		opacity: .9;

		&:visited {
			color: $col_primary;
		}

		&:hover,
		&:active,
		&:focus {
			color: $col_primary;
			opacity: 1;
		}
	}

	.wdpu-head {
	}

	.wdpu-title,
	.wdpu-subtitle {
		line-height: 1.3em;
		margin: 0 0 6px 0;
		color: #FDFDFC;
		text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	}

	.wdpu-title {
		font-size: 2 * $font_size;
		font-weight: bold;
	}

	.wdpu-subtitle {
		font-size: 1.1 * $font_size;
		font-weight: 400;
	}

	.wdpu-cta {
		line-height: 1.2em;
		padding: 10px 30px;
		opacity: .9;
		margin: 0 20px 0 0;
		text-decoration: none;

		background: $col_primary;
		color: $col_secondary;

		&:visited {
			color: $col_secondary;
		}

		&:hover,
		&:active,
		&:focus {
			color: $col_secondary;
			opacity: 1;
		}
	}

	/* Default: Image on right side */
	.wdpu-text {
		margin: 0 40% 0 0;
	}
	.wdpu-image {
		text-align: right;
		right: 0;
		width: 40%;
		border-radius: 0 5px 5px 0;
	}

	&.img-left {
		.wdpu-text {
			margin: 0 0 0 40%;
			margin-right: 0;
		}
		.wdpu-image {
			text-align: left;
			right: auto;
			left: 0;
			border-radius: 5px 0 0 5px;
		}
		.wdpu-buttons {
			left: 40%;
		}
	}

	&.no-img {
		.wdpu-text {
			margin: 0;
		}
		.wdpu-image {
			display: none;
		}
	}

	&.rounded {
		.wdpu-cta {
			border-radius: 5px;
		}
		.wdpu-message-wrap {
			border-radius: 10px;
		}
		.wdpu-message {
			border-radius: 6px;
		}
	}
}